@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Madimi+One&display=swap");
body{
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 1300px;
  margin: 0 auto;
  background-color: white;
}
.btn-primary{
  width: 7rem;
  height: 2rem;
  background-color: darkorange;
  border: none;
  border-radius: .5rem;
  color: white;
  font-weight: 700;
}
/* nav section start */
header span {
  color: darkorange;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo h3{
  width: 8rem;
  font-size: x-large;
}

.nav img{
  width: 2.5rem;
  height: 1.5rem;
  align-items: center;
}
.nav-item ul{
  display: flex;
  list-style: none;
  gap: 1rem;
}
.nav-item ul li a {
  color: #6b6767;
  font-weight: 400;
}
.nav-item  a{
  text-decoration: none;
}
/* nav section end */
/* hero section start */
.banner{
  /* width: auto; */
  height: 85vh;
  background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.banner h2 {
  font-size: 5rem;
  color: white;
  margin: 0%;
}
.banner p{
  color: white;
  margin: 0%;
}
.input-item{
  /* background-color: aliceblue; */
  /* width: 20rem; */
  background-opacity:0.5 ;
  display: flex;
  /* flex-direction: column; */
  gap: 2rem;
  margin-top: 2rem;
}
.input{
  width: 7rem;
  height: 2rem;
  color: white;
  border-radius: .5rem;
  border: none;
  padding-left: 10px;
  box-shadow: azure;
}
/* hero section end */
/* responsive */
/* nav responsive */
@media screen and (max-width:600px) {
  .nav,
  .nav-item ul,
  .input-item{
    flex-direction: column;
  }
.nav-item {
  background-color: rgb(246, 225, 255);
  width: 100%;
  margin: 0 auto;
}
.banner{
  height:130vh;
  background-position: center;
}
.banner h2{
  font-size: 2rem;
}
.banner p{
  width: 16rem;
}
.input{
  width: 10rem;
  height: 3rem;
  color: white;
  border-radius: .5rem;
  border: none;
  padding-left: 10px;
  box-shadow: azure;
}
.input-item{
  margin-top: 0%;
}
.btn-primary{
  width: 10rem;
  height: 3rem;
}
}